<div title="${_//'Edit language resource'}">
    <form-layout xs-cols="12" sm-cols="4,8" md-cols="4,8" lg-cols="1,11">
        <form-template>
            <div>
                <span>${_>"Language"}</span>
                <input type="text" readonly="readonly" ng-model="data.language"/>
                <span>${_>"App name"}</span>
                <input type="text" readonly="readonly" ng-model="data.app"/>
                <span>${_>"Page"}</span>
                <input type="text" readonly="readonly" ng-model="data.view"/>
                <span>${_>"Key"}</span>
                <textarea class="form-control" readonly="readonly" ng-model="data.key"></textarea>
            </div>
        <div>
            <span>${_>"Value"}</span>
            <textarea class="form-control" ng-model="data.value"></textarea>
        </div>
        <div>
            <div class="btn-toolbar pull-right" role="toolbar" span="12">
                <div class="btn-group">

                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" ng-click="doSave();">${_//"Save"}</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default">${_//"Close"}</button>
                </div>
            </div>
        </div>
    </form-template>
    </form-layout>
    <ajax url="${currentUrl}">
        <call data-id="DoLoadItem" params="{id:$root.$history.data().key}" ng-model="data"/>
        <call data-id="DoSaveItem" params="data" ng-model="data" data-function="doSave"/>
    </ajax>
</div>