<%inherit file="base.html"/>
<div class="container">
    <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <span>&nbsp;</span>
            </div>
        </div>
    <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <span>&nbsp;</span>
            </div>
        </div>
    <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <span>&nbsp;</span>
            </div>
        </div>
    <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <span>&nbsp;</span>
            </div>
    </div>
    <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p>
                        ${_//"Thank you for register a new account"}<br>
                        ${_//"Please. check your email and active yout account"}<br>
                    </p>
            </div>
    </div>
</div>