<div title="${_//'Edot or add new organiozation info'}" ng-init="data=$parent.editItem||{OrgCode:'',OrgName:''}">
    <form-layout>
        <form-template>
            <div>
                <label>${_//"Code"}</label><input type="text" ng-model="data.OrgCode" maxlength="50"/>
                
            </div>
            <div>
                <label>${_//"Name"}</label><input type="text" ng-model="data.OrgName" span="12" maxlength="200"/>
            </div>
            <div>
                <label>${_//"Foreigner name"}</label><input type="text" ng-model="data.OrgFName" span="12" maxlength="200"/>
            </div>
            <div ng-if="saveItemResult.error_field">
                <span span="12">
                     {{saveItemResult}}
                </span>
                    
            </div>
            <div>
                <div class="btn-toolbar pull-right" role="toolbar" span="12">
                    <div class="btn-group">

                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" ng-click="doSave()">${_//"Update"}</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-click="$doClose()">${_//"Đóng"}</button>
                    </div>
                </div>
            </div>
        </form-template>
    </form-layout>
    <ajax url="${currentUrl}">
        <call data-id="DoLoadItem"/>
        <call data-id="DoSaveItem" data-params="data" ng-model="saveItemResult" data-function="doSave"/>
    </ajax>
</div>