<div title="${_//'Account info'}" >

    <div form-layout>
        <div form-template>
            <div>
                <span>${_>"Username"}</span>
                <input type="text" ng-model="user.username" ng-readonly="isUpdate">

                <span>${_>"Email"}</span>
                <input type="text" ng-model="user.email"  ng-readonly="isUpdate">
                 <span ng-if="!isUpdate">${_>"Password"}</span>
                <input type="text" ng-model="user.password" ng-if="!isUpdate">
                 <span ng-if="!isUpdate">${_>"Confirm password"}</span>
                <input type="text" ng-model="user.confirmPassword" ng-if="!isUpdate">
                <span>${_>"Họ"}</span>
                <input type="text" ng-model="user.first_name">
                <span>${_>"Tên"}</span>
                <input type="text" ng-model="user.last_name">
            </div>
            <div>
                <label>${_>"Thuộc doanh nghiệp"}</label>
                <select class="form-control" span="12" ng-model="user.org">
                    <option ng-repeat="p in orgs" value="{{p.id}}">
                         {{p.OrgName}}   
                    </option>
                </select>
            </div>
            <div>
                <span>${_>"Là giảng viên"}</span>
                <input type="checkbox" ng-model="user.is_staff">
                <span>${_>"Là quản trị viên"}</span>
                <input type="checkbox" ng-model="user.is_superuser">
                <span>${_>"Tình trạng"}</span>
                <div>
                    <input type="checkbox" ng-model="user.is_active" id="user_active_status">
                    <label for="user_active_status">
                        {{user.is_active?"Đã kích hoạt":"Chưa kích hoạt"}}
                    </label>
                </div>
            </div>
            <div>
                <span>${_>"Ngày tham gia"}</span>
                <span>{{$parent.user.date_joined|date:"dd-MM-yyyy"}}</span>
                <span>${_>"Đăng nhập lần cuối lúc"}</span>
                <span>{{$parent.user.last_login|date:"dd-MM-yyyy hh:mm:ss"}}</span>
            </div>
            <div span="12">
                <div class="btn-toolbar pull-right" role="toolbar" span="12">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-click="doUpdateUser();">{{($root.$history.data().user=='*')?'${_>>"Thêm"}':'${_>>"Cập nhật"}'}} </button>

                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-click="$root.$dialog($parent.$id).url('${currentUrl}/reset_password').done()" ng-if="$root.$history.data().user!='*'">${_>>"Đặt lại mật khẩu"}</button>
                    </div>
                    <div class="btn-group">
                        <a ng-click="$root.$back()" class="btn btn-default">${_>>"Đóng"}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" ng-if="updateResult.error">
        <div class="alert alert-danger fade in" ng-if="updateResult.error.errorType=='require' && updateResult.error.fieldName=='username'">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>${_>"Error"}!</strong>${_>"Please enter username"}
        </div>
        <div class="alert alert-danger fade in" ng-if="updateResult.error.errorType=='require' && updateResult.error.fieldName=='email'">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>${_>"Error"}!</strong>${_>"Please enter email"}
        </div>
        <div class="alert alert-danger fade in" ng-if="updateResult.error.errorType=='require' && updateResult.error.fieldName=='password'">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>${_>"Error"}!</strong>${_>"Please enter password"}
        </div>
        <div class="alert alert-danger fade in" ng-if="updateResult.error.errorType=='require' && updateResult.error.fieldName=='cofirmPassword'">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>${_>"Error"}!</strong>${_>"Please enter confirm comfirm password"}
        </div>

    </div>
    <ajax url="${currentUrl}">
        <call data-id="doLoadItem" data-params="{username:$root.$history.data().user}" ng-model="user"/>
        <call data-id="doLoadOrgs" ng-model="orgs"/>
        <call data-id="doUpdateItem" data-params="{user:user}" data-function="doUpdateUser" ng-model="updateResult"/>
        <call data-id="doResetPassword" data-params="{pwd:reset_password.password,uid:$root.$history.data().user}" data-function="doResetPassword" ng-model="updateResult"/>
    </ajax>
</div>
